{{>header}}

            <!-- Content Start
            ================================================== -->
            <div class="bs-docs-section" style="margin-top:0;">
                <div class="page-header" style="margin-top:0px;">
                    <div class="row">
                        
                        <div class="col-lg-12">
                            <h1>Peoples</h1>
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Gender</th>
                                  <th>Deprived?</th>
                                  <th>Rural Classification</th>
                                  <th>Broadband? (>2mbps)</th>
                                </tr>
                              </thead>
                              <tbody>
                            {{#persons}}
                        
                            <tr>
                              <td>{{name.givenName}}</td>
                              <td>{{name.familyName}}</td>
                              <td class = 'gender' value = {{gender}}></td>
                              <td>{{#deprived}}
                                          Yes <!-- If {like: true} --->
                                          {{/deprived}}
                                          {{^deprived}}
                                          No <!-- If {like: false} --->
                                          {{/deprived}}</td>
                              <td>{{ruralClassification}}</td>
                              <td><span>  {{#internet}}
                                          Yes <!-- If {like: true} --->
                                          {{/internet}}
                                          {{^internet}}
                                          No <!-- If {like: false} --->
                                          {{/internet}}</span></td>
                            </tr>

                            
                            {{/persons}}
            
                            </tbody>
                          </table>
                            
                        </div>
        
                    </div>
                </div>
            </div>
            <script>
            $('.gender').each(function(i,thing){
            if(thing.value == 0){
              thing.innerHTML = "Male";
            }else if(thing.value == 1){
              thing.innerHTML = "Female";
            }else if(thing.value == 2){
              thing.innerHTML = "Other";
            }
            });
            </script>
            <!-- Content End
            ================================================== -->
{{user}}

{{>footer}}