{{>header}}


      <!-- Content Start
      ================================================== -->
      <div class="bs-docs-section" style="margin-top:0;">
        <div class="page-header" style="margin-top:0px;">
          <div class="row">
            
            <div class="col-lg-12">
              <div id='{{pie_element_name}}'>
                <svg></svg>
              </div>
            </div>
    
          </div>
        </div>
      </div>


{{> nvd3}}

<script>
nv.addGraph(function() {


function exampleData() {
  return [
      {{#datapoints}}
      { 
        "label" : "{{label}}" ,
        "value" : {{value}}
      }{{#comma}},{{/comma}}
      {{/datapoints}}
  ];
}
  var chart = nv.models.pieChart()
      .x(function(d) {console.log(d); return d.label })
      .y(function(d) { return d.value })
      .showLabels(true);

    d3.select("#{{pie_element_name}} svg")
        .datum(exampleData())
      .transition().duration(1200)
        .call(chart);

  return chart;
});




</script>
{{>footer}}