{{>header}}

			<!-- Content Start
			================================================== -->
			<div class="bs-docs-section" style="margin-top:0;">
				<div class="page-header" style="margin-top:0px;">
					<div class="row">
						
						<div class="col-lg-12">
							<h1>About</h1>
							<p>The dashboards you can find from the menu above have all been used to pull various useful data relating to the postcodes of the users that sign up to the system.</p>

							<p><a href="https://geoportal.statistics.gov.uk/Docs/PostCodes/NSPL_NOV_2013_csv.zip">ONS : National Postcode Lookup Nov '13</a> Allows us to maps postcode eastings and northings to latitude and longiudes for use in our heatmap.</p>
							<p><a href="http://www.scotland.gov.uk/Topics/Statistics/SIMD">Sgov : Scottish Index of Multiple Deprivation</a>This is the index we're using for deprivation. Currently it's only for Scotland but it still gives a good idea of the mappings.</p>
							<p><a href="http://d2a9983j4okwzn.cloudfront.net/downloads/ofcom-uk-fixed-broadband-postcode-level-data-2013.zip">Ofcom : Fixed Broadband postcode level data 2013</a> This is the website we scrape from to get the broadband data for postcodes that users input. We use a flag of true or false for whether the user has access to 2mbps or greater DSL broadband.</p>
							<p><a href="http://www.scotland.gov.uk/Topics/Statistics/sns/SNSRef/Postcode-Lookup-2012-1">Sgov : Scottish Postcode lookup 2012</a> This is a postcode lookup specifically for Scotland.</p>

						</div>
		
					</div>
				</div>
			</div>
			<!-- Content End
			================================================== -->
{{user}}

{{>footer}}