{{>header}}

			<!-- Content Start
			================================================== -->
			<div class="bs-docs-section" style="margin-top:0;">
				<div class="page-header" style="margin-top:0px;">
					<div class="row">
						
						<div class="col-lg-12">
							<h1>Account</h1>
							{{#user}}
								<form method="POST" action="/account" enctype="multipart/form-data">
									
									<label class="control-label" for="inputSmall">Forename</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{name.givenName}}">
									
									<label class="control-label" for="inputSmall">Surname</label>
									<input class="form-control input-sm" type="text" id="surname" value="{{name.familyName}}">
									
									
									<label class="control-label" for="inputSmall">Gender</label>
									<select class="form-control" name="gender">
										<option id="male" value="male">Male</option>
										<option id="female" value="female">Female</option>
										<option id="other" value="other">Other</option>
									</select>
									
									
									<label class="control-label" for="inputSmall">Location</label>
									<input class="form-control input-sm" type="text" id="location" value="{{location}}">
									
									<label class="control-label" for="inputSmall">Birthday</label>
									<div class="input-append date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
										<input class="form-control input-sm datepicker" type="text" id="birthday" value="{{birthday}}">
									</div>

									<label class="control-label" for="inputSmall">Ethnicity</label>
									<select class="form-control" name="ethnicity">
										<option id="31">Asian or Asian British - Bangladeshi</option>
										<option id="32">Asian or Asian British - Indian</option>
										<option id="33">Asian or Asian British - Pakistani</option>
										<option id="34">Asian or Asian British – Any other Asian background</option>
										<option id="35">Black or Black British – African</option>
										<option id="36">Black or Black British – Caribbean</option>
										<option id="37">Black or Black British – any other Black background</option>
										<option id="38">Chinese</option>
										<option id="39">Mixed – White and Asian</option>
										<option id="40">Mixed – White and Black Caribbean</option>
										<option id="41">Mixed – Any other mixed background</option>
										<option id="42">White – British</option>
										<option id="43">White – Irish</option>
										<option id="44">White – Any other White background</option>
										<option id="45">Any other</option>
									</select>
									
									<label class="control-label" for="inputSmall">Disability</label>
									<select class="form-control" name="disability">
										<option id="24">None</option>
										<option id="25">Physical disability</option>
										<option id="26">Learning disability</option>
										<option id="27">Long term health need</option>
										<option id="28">Sensory visual/hearing</option>
										<option id="29">Other</option>
									</select>
									
									
									<br />
									<button type="submit" class="btn btn-primary btn-lg" value="submit">Save Changes</button>
									
									
								</form>
							{{/user}}
									
						</div>
		
					</div>
				</div>
			</div>
			<!-- Content End
			================================================== -->

{{>footer}}