{{>header}}

			<!-- Content Start
			================================================== -->
			<div class="bs-docs-section" style="margin-top:0;">
				<div class="page-header" style="margin-top:0px;">
					<div class="row">
						
						<div class="col-lg-12">
							<h1>Account</h1>
							{{#user}}
								<form>
									
									<script>$('.datepicker').datepicker()</script>
								
									<label class="control-label" for="inputSmall">Forename</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{forename}}">
									
									<label class="control-label" for="inputSmall">Surname</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{surname}}">
									
									<label class="control-label" for="inputSmall">Given Name</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{givenName}}">
									
									
									<label class="control-label" for="inputSmall">Gender</label>
									<select name="gender">
										<option value="male">Male</option>
										<option value="female">Female</option>
										<option value="other">Other</option>
									</select>
									
									
									<label class="control-label" for="inputSmall">Location</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{location}}">
									
									<label class="control-label" for="inputSmall">Birthday</label>
									<input class="form-control input-sm" type="text" id="forename" value="{{birthday}}">
									
									
								</form>
							{{/user}}
									
						</div>
		
					</div>
				</div>
			</div>
			<!-- Content End
			================================================== -->

{{>footer}}