			
			<footer>
				<div class="row">
					<div class="col-lg-12">
			
						<ul class="list-unstyled">
							<li class="pull-right"><a href="#top">Back to top</a></li>
						</ul>
						
						<p>Website by <a href="http://geeksoc.org">GeekSoc</a>. All rights reserved &copy; 2013.</p><br />
						<small>
						<p>Template &amp; Styles <a href="http://getbootstrap.com">(Bootswatch)</a> by <a href="http://thomaspark.me">Thomas Park</a>. Based on <a href="http://getbootstrap.com">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>.</p>
						</small>

						<form>
							<select name="styleSelect" id="styleSelect">
								<option value="amelia" id="amelia">Amelia</option>
								<option value="cerulean" id="cerulean">Cerulean</option>
								<option value="cosmo" id="cosmo">Cosmo</option>
								<option value="custom" id="custom">Custom</option>
								<option value="cyborg" id="cyborg">Cyborg</option>
								<option value="flatly" id="flatly">Flatly</option>
								<option value="journal" id="journal">Journal</option>
								<option value="readable" id="readable">Readable</option>
								<option value="simplex" id="simplex">Simplex</option>
								<option value="slate" id="slate">Slate</option>
								<option value="spacelab" id="spacelab">Spacelab</option>
								<option value="united" id="united">United</option>
								<option value="yeti" id="yeti">Yeti</option>
							</select>
							<button type="button" onclick="change(document.getElementById('styleSelect').selectedIndex.value)" class="btn btn-primary btn-xs">Change Style</button>
						</form>
					</div>
				</div>
			</footer>
        </div><!-- container -->

		<script src="theme/bower_components/jquery/jquery.min.js"></script>
		<script src="theme/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="theme/assets/js/bootswatch.js"></script>
		<script src="bootstrap-datepicker.js"></script>
		<script>$('.datepicker').datepicker()</script>
	</body>
</html>