<head>
   <title>{{page}}</title>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/theme/{{theme}}/bootstrap.min.css">
   <link rel="stylesheet" href="nv.d3.min.css">
   <script src="styleSelect.js"></script>
   <link rel="stylesheet" href="" id="myStyle">
</head>
<body onload="init()" style="padding-top:20px;">


<div class="container">
			<!-- Navbar Start
			================================================== -->
			<div class="bs-docs-section clearfix" style="margin-top:0px;">
				<div class="row">
					<div class="col-lg-12">
						<div class="page-header" style="display:inline-block; margin-top:0px; width:100%;">
							<center><a href="/"><img src="http://i.imgur.com/rcyUbqX.png"></a></center>
						</div>

						<div class="bs-example">
							<div class="navbar navbar-default">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								
								<div class="navbar-collapse collapse navbar-responsive-collapse">
									<ul class="nav navbar-nav">
										<li><a href="/home">Home</a></li>
										 <li><a href="/about">About</a></li>
										 <li><a href="/account">Account</a></li>
									</ul>
									
									 <ul class="nav navbar-nav pull-right">
										{{#user}}
										<b>{{user.name}}</b>
										{{/user}}
										{{^user}}
										  <li><a href="/auth/facebook">Login with FACEBOOK!</a></li>
										{{/user}}
									</ul>
								</div><!-- /.nav-collapse -->
							</div><!-- /.navbar -->
						</div><!-- /example -->

					</div>
				</div>
			</div>
			<!-- Navbar End
			================================================== -->
			
{{jquery}}
