{{>header}}

			<!-- Content Start
			================================================== -->
			<div class="bs-docs-section" style="margin-top:0;">
				<div class="page-header" style="margin-top:0px;">
					<div class="row">
						
						<div class="col-lg-12">
							<h1>Welcome to GoAL</h1>
							<!-- <p>Welcome to GoAL (Go Ambition Lab).</p> -->
							<h3>What GoAL does</h3>
							<p>GoAL allows you to take some of you're profile data from Facebook and some simple question to find information about local services in your area that you may enjoy. </p>
						</div>
		
					</div>
				</div>
			</div>
			<!-- Content End
			================================================== -->
{{user}}

{{>footer}}