<script type="text/javascript" src="http://openlayers.org/api/OpenLayers.js"></script>
<script type="text/javascript" src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
<script type="text/javascript" src="heatcanvas/heatcanvas.js"></script>
<script type="text/javascript" src="heatcanvas/heatcanvas-openlayers.js"></script>